@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAcUsPBumxH7poH4oHcbpvfuM2N1Gs0M5o",
    authDomain: "tinex-5bb47.firebaseapp.com",
    projectId: "tinex-5bb47",
    storageBucket: "tinex-5bb47.appspot.com",
    messagingSenderId: "394250771299",
    appId: "1:394250771299:web:a854bdbd833507589d9156",
    measurementId: "G-JH032HKCET"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>